on:
  push:
    branches:
      - "**"

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: ConfigCreate
        run: |
          mkdir ~/.kube/
          echo "${{ secrets.KUBECONFIG }}" > config
          mv config ~/.kube/
          ls ~/.kube/